<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <p>This site was created by Animesh Singh. It get its data from mapbox.com and weatherstack.com</p>
    {{>footer}}
</body>
</html>