<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    {{>header}}
    <p>Use this site to get Weather!</p>
    <form>
        <input type="text" placeholder="Location">
        <button type="submit">Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    {{>footer}}
    <script src="/js/index.js"></script>
</body>
</html>